body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; 
  color: #292929;
}

a {
  text-decoration: none;
  color: #fff;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main */
.main {
    margin: 20px auto;
    width: 100%;
    max-width: 1024px;
    font-size: 18px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
    position: relative;
}

/* content */
.content {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
}

.content-info-left {
    height: 100%;
    width: 340px;
    background-color: #292929;
    color: #fff;
    padding-top: 266px;
}

/* Content Line */
.content-info-block {
  background-color: #2f2f2f;
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
}

.content-info-block-line {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
}

.content-info-block-line img {
  width: 190px;
  height: 190px;
  margin: 20px 75px;
  border-radius: 150px;
}

.content-info-block-line-name {
  margin: 35px 20px;
  width: 310px;
}

.content-info-block-line-name h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 9px;
}

.content-info-block-line-name h4 {
  width: 34ch;
  font-family: monospace;
  font-size: 14px;
  color: #c2c2c2;
  text-align: left;
  margin-bottom: 15px;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 2px solid white; 
  animation: cursor 0.75s step-end infinite, printed_text 5s steps(34);
}

.content-info-block-line-name p {
  width: 294px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-align: left;
}

@keyframes cursor {
  0% {
    border-color: #c2c2c2;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #c2c2c2;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

.content-info-block-line-contacts {
  border-left: 1px solid #C2C2C2;
  margin: 25px 0;
}

.content-info-block-line-contacts ul {
  margin-left: 10px;
  padding-left: 10px;
  list-style: none;
}

.content-info-block-line-contacts ul li {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.content-info-block-line-contacts ul li a {
  color: #ffffffcb;
}

.content-info-block-line-contacts ul li:hover a {
  color: #fff;
}

.content-info-block-line-contacts ul li .icon {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin: 0 15px 0 0;
}

/* General info */
.content-info-block-general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 30px;
}

.general-info-list,
.general-info-skills {
  padding: 0 0 25px;
  border-bottom: 1px solid #C2C2C2;
  list-style: none;
}

.general-info-list li,
.skills-list li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 0;
}

.general-info-list li span {
  color: #C2C2C2;
}

.skills-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.skills-list li {
  padding: 5px 0;
}

.skills-list li:last-child {
  padding-bottom: 0;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #000000;
  margin-top: 10px;
  border-radius: 5px;
}

.progress {
  width: 0;
  height: 6px;
  background-color: #6DA3D7;
  border-radius: 5px;
  animation: loading 4s ease-in-out forwards;
}

@keyframes loading{
  to {
    width: var(--w);
  }
}









